﻿body {
    background-image: url(../img/estudiante.jpg);
    background-size: cover;
}
.table {
    margin-top: 10em;
    width: 841px;
    text-align: center;
    margin-left: 140px;
    color: white;
}

