﻿body {
    background-image: url(../img/grupo.jpg);
    background-size: cover;
}
.card {
    width: 400px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    margin-top: 7em;
}
.card-header {
    background: #ad29f0;
}

.btn {
    color: white;
    font-family: Arial;
    background: #6615b4;
}

.btn:hover {
    box-shadow: 0px 3px 20px #b25bde;
    color: white;
    font-weight: bold;
}

h5 {
    font-family: 'Lucida Calligraphy';
    font-weight: bold;
}

.form-control {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table {
    margin-top: 10em;
    width: 600px;
    text-align: center;
    margin-left: 290px;
    color: white;
}

